<ion-header>
  <ion-toolbar>
    <ion-title>SacarFoto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <img [src]="image" *ngIf="image"/>

</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  
      <ion-fab-list side="top">
        <ion-fab-button> <ion-icon name="arrow-forward" routerLink="/tipos-pie" routerLinkActive="router-link-active" ></ion-icon> </ion-fab-button>
        <ion-fab-button> <ion-icon name="camera" (click)="getPicture()"></ion-icon> </ion-fab-button>
      </ion-fab-list>
  </ion-fab>
</ion-footer>
