<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="foto-tobillo"></ion-back-button>
        </ion-buttons>
        <ion-title style="text-align: center;">Tipos Tobillo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content id="main">

    <ion-row>
        <ion-col size="12">
            <ion-slides (ionSlideDidChange)="slideChanged()" pager="true">

                <ion-slide *ngFor="let image of images">

                    <div class="slide-img-padding">

                        <img class="img" [src]="image.img">

                    </div>

                    <div>

                        <h3 [innerHTML]="image.titulo"></h3>

                    </div>

                </ion-slide>

            </ion-slides>
        </ion-col>
    </ion-row>

    <ion-grid>


        <!-- <ion-row>

            <ion-col>
                <ion-button expand="full" routerLink="/foto-tobillo" shape="round" mode="ios">
                    Atras
                </ion-button>
            </ion-col>

            <ion-col>
                <ion-button expand="full" routerLink="/formulario" shape="round" mode="ios">
                    Siguiente
                </ion-button>
            </ion-col>

        </ion-row> -->

    </ion-grid>

</ion-content>
<ion-footer>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="navigate()" routerLink="/formulario">
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button routerLink="/foto-tobillo">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->
</ion-footer>

<script>
    function myFunction() {
        document.getElementById("main").style.alignContent = "space-between";
    }
</script>