<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Formulario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-list>
            <ion-item>
                <ion-icon name="person" item-start></ion-icon>
                <ion-label stacked>Nombres:</ion-label>
                <ion-input type="text" placeholder="Nombre"></ion-input>
            </ion-item>
            <ion-item>
                <ion-icon name="person" item-start></ion-icon>
                <ion-label stacked>Apellidos:</ion-label>
                <ion-input type="text" placeholder="Apellidos"></ion-input>
            </ion-item>
            <ion-item>
                <ion-icon name="mail" item-start></ion-icon>
                <ion-label stacked>Correo electronico:</ion-label>
                <ion-input type="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-icon name="calendar" item-start></ion-icon>
                <ion-label stacked>Fecha de nacimiento:</ion-label>
                <ion-datetime displayFormat="MM-DD-YYYY" placeholder="MM-DD-YYY"></ion-datetime>
            </ion-item>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-icon name="woman" item-start></ion-icon>
                        <ion-label>Mujer</ion-label>
                        <ion-radio value="2"></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-icon name="man" item-start></ion-icon>
                        <ion-label>Hombre</ion-label>
                        <ion-radio value="1"></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
        <div padding>
            <ion-button ion-button full (click)="enviarMail()">Enviar mail</ion-button>
        </div>
    </form>
</ion-content>